syntax filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
starlark filter=lfs diff=lfs merge=lfs -text
repl filter=lfs diff=lfs merge=lfs -text
starlarktest filter=lfs diff=lfs merge=lfs -text
cmd filter=lfs diff=lfs merge=lfs -text
go.sum filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
internal filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
starlarkjson filter=lfs diff=lfs merge=lfs -text
starlarkstruct filter=lfs diff=lfs merge=lfs -text
CNAME filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
go.mod filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
resolve filter=lfs diff=lfs merge=lfs -text
